<div class="display">
    @if(loading){
    <fa-icon icon="circle-notch" class="loader" animation="spin" size="3x"></fa-icon>
    }@else {
    <div>
        @if(cover && cover!.file && cover!.fileContentType){
        <img class="img" [src]="'data:'+cover!.fileContentType+';base64,'+cover!.file" alt="cover">
        } @else if(cover!.link) {
        <img class="img" [src]="cover!.link" alt="cover">
        } @else{
        <div>no img</div>
        }
    </div>
    <div class="card">
        <div class="details">
            <div class="title">
                {{movie?.title}}
            </div>
            <div class="casting">
                <div><strong>Durée : </strong>{{movie?.duration}} min</div>
                <div><strong>Sortie : </strong>{{movie?.release}}</div>
                <div><strong>Genre : </strong>{{movie?.gender}}</div>
                <div><strong>Réalisateur : </strong> {{movie?.producer}}</div>
                <div><strong>Acteurs : </strong> {{movie?.actors}}</div>
            </div>
            <div class="summary">
                {{movie?.summary}}
            </div>
        </div>
    </div>
    }
</div>

<div class="planning">
    <div>
        <p-calendar [(ngModel)]="selectedDate" [inline]="true" [showWeek]="false" [selectionMode]="'single'"
            [minDate]="today" (onSelect)="filterSessions($event)" />
    </div>
    <div class="seances">
        @if(sessionsDay.length>0){
        @for(s of sessionsDay; track s.id){
        <div class="horaire">{{s.startTime | date:'HH:mm'}}</div>
        }
        } @else {
        <div class="aucun">Aucune séance !</div>
        }
    </div>
</div>