<div class="liste">
    <table mat-table [dataSource]="films">
        <ng-container matColumnDef="titre">
            <th mat-header-cell *matHeaderCellDef> Titre </th>
            <td mat-cell *matCellDef="let film"> {{film.titre}} </td>
        </ng-container>
        <ng-container matColumnDef="sortie">
            <th mat-header-cell *matHeaderCellDef> Sortie </th>
            <td mat-cell *matCellDef="let film"> {{film.sortie}} </td>
        </ng-container>
        <ng-container matColumnDef="resume">
            <th mat-header-cell *matHeaderCellDef> Résumé </th>
            <td mat-cell *matCellDef="let film"> {{film.resume}} </td>
        </ng-container>
        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row *matRowDef="let film; columns: columns"></mat-row>
    </table>
</div>
